.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.smallText {
  font-size: 0.8rem;
  font-color: #ccc;
  font-weight: 700;
}

.userCardContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #eee;
}

.userCardContainer img {
  border-radius: 50%;
}

.postContainer {
  background-color: black;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
}

.postContainer .postContent {
  display: flex;
  background-color: red;
}

.postContainer .postContent p {
  margin: 1rem;
}

.postContainer .postMeta {
  background-color: blue;
}
