/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.navbar span {
  padding: 1rem;
}

.navbar a {
  padding: 1rem;
}

.postGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.button {
    background-color: transparent;
  border: 3px solid #555;
  color: #555;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
    background-color: #555;
  color: white;
}

/* Responsive grid */
@media (max-width: 768px) {
  .postGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .postGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.smallText {
  font-size: 0.8rem;
}

/* UserCard */
.userCardContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.userCardContainer img {
  border-radius: 50%;
}

/* Post */
.postContainer {
  background-color: #000 !important;
  color: #fff;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: 270px;
}

.postContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.postContainer span {
  font-size: 0.8rem;
}

.postContainer .postImage {
  cursor: pointer;
  border-radius: 12px;
}

.postContainer .postContent {
  cursor: pointer;
  display: flex;
}

.postContainer .postContent p {
  margin: 1rem;
}

.postContainer .postMeta {
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ccc;
}

.postContainer .metaData {
  font-size: 0.8rem;
  font-weight: 100;
  padding-top: 0.5rem;
}

/* Tags */
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

.tag:hover {
  background-color: #fff;
  color: #000;
}

/* Post comment */
.postCommentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postComment {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}
