.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.smallText {
  font-size: 0.8rem;
  font-weight: 700;
}

.userCardContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.userCardContainer img {
  border-radius: 50%;
}

.postContainer {
  background-color: #000!important;
  color: #fff;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.postContainer:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.postContainer .postContent {
  display: flex;
}

.postContainer .postContent p {
  margin: 1rem;
}

.postContainer .postMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ccc;
}
